BOT_TOKEN=5156637801:AAGuWEfVUN9-pi6sAZFw03HV6XwEd2BRwCQ ## Your Telegram Bot Token

SESSION_TYPE=memory ## comment this if you're going to use redis session

SESSION_TYPE=redis ## comment this if you're going to use use memory session
REDIS_HOST=localhost ## comment this if you're going to use use memory session
REDIS_PORT=6379 ## comment this if you're going to use use memory session

NODE_ENV=development ## can be useful for debugging


# webhook is enabled by default in production mode
DOMAIN=https://tasty-cheetah-93.loca.lt ## domain for webhook, should be public
PORT=3444 ## port for webhook